<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modulos.libreria.dimepoblacioneslibreria" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".actividades.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".actividades.InicioActivity"
            android:label="@string/title_activity_inicio" >
        </activity>
        <activity
            android:name=".actividades.ListaSitiosActivity"
            android:label="@string/title_activity_lista_sitios" >
        </activity>
        <activity
            android:name=".actividades.detalle.DetalleSitioActivity"
            android:label="@string/title_activity_detalle_sitio" >
        </activity>
        <activity
            android:name=".actividades.ListaNotificacionesActivity"
            android:label="@string/title_activity_lista_notificaciones" >
        </activity>
        <activity
            android:name=".actividades.detalle.DetalleNotificacionActivity"
            android:label="@string/title_activity_detalle_notificacion" >
        </activity>
    </application>

</manifest>
